@charset "utf-8";

:root {
    --common: 80px 
}

.box-1 {
    width: var(--common);
    height: var(--common);
    background-color: pink;
}

.box-2 {
    width: var(--common);
    height: var(--common);
    background-color: skyblue;
}

.box-3 {
    width: var(--common);
    height: var(--common);
    background-color: orange;
}