@charset "utf-8";

#box-1 {
    width: 160px;
    height: 160px;
    background-color: aquamarine;
}

#box-2 {
    width: 160px;
    height: 160px;
    background-color: yellow;
}

#box-3 {
    width: 160px;
    height: 160px;
    background-color: blue;
}